[submodule "dev/librechat"]
	path = dev/librechat
	url = git@github.com:faktenforum/LibreChat.git
	branch = main
[submodule "dev/agents"]
	path = dev/agents
	url = https://github.com/danny-avila/agents.git
	branch = main
[submodule "dev/rag_api"]
	path = dev/rag_api
	url = https://github.com/danny-avila/rag_api.git
	branch = main
[submodule "dev/librechat-doc"]
	path = dev/librechat-doc
	url = git@github.com:faktenforum/librechat.ai.git
	branch = main
[submodule "dev/firecrawl"]
	path = dev/firecrawl
	url = git@github.com:firecrawl/firecrawl.git
	branch = main
[submodule "dev/searxng"]
	path = dev/searxng
	url = git@github.com:searxng/searxng.git
	branch = master
[submodule "dev/n8n"]
	path = dev/n8n
	url = git@github.com:n8n-io/n8n.git
	branch = master
[submodule "dev/open-streetmap-mcp"]
	path = dev/open-streetmap-mcp
	url = git@github.com:faktenforum/open-streetmap-mcp.git
	branch = main
[submodule "dev/db-timetable-mcp"]
	path = dev/db-timetable-mcp
	url = git@github.com:faktenforum/db-timetable-mcp.git
	branch = main
[submodule "dev/stackoverflow-mcp"]
	path = dev/stackoverflow-mcp
	url = git@github.com:faktenforum/stackoverflow-mcp.git
	branch = main
[submodule "dev/npm-search-mcp"]
	path = dev/npm-search-mcp
	url = git@github.com:faktenforum/npm-search-mcp-server.git
	branch = main
[submodule "dev/ytptube"]
	path = dev/ytptube
	url = https://github.com/arabcoders/ytptube
[submodule "dev/mcp-youtube-transcript"]
	path = dev/mcp-youtube-transcript
	url = git@github.com:jkawamoto/mcp-youtube-transcript.git
[submodule "dev/yt-dlp"]
	path = dev/yt-dlp
	url = git@github.com:yt-dlp/yt-dlp.git
[submodule "dev/docs-mcp-server"]
	path = dev/docs-mcp-server
	url = https://github.com/arabold/docs-mcp-server.git
	branch = main
