[submodule "dev/librechat"]
	path = dev/librechat
	url = https://github.com/danny-avila/LibreChat.git
	branch = main
[submodule "dev/agents"]
	path = dev/agents
	url = https://github.com/danny-avila/agents.git
	branch = main
[submodule "dev/rag_api"]
	path = dev/rag_api
	url = https://github.com/danny-avila/rag_api.git
	branch = main
[submodule "dev/librechat-doc"]
	path = dev/librechat-doc
	url = git@github.com:faktenforum/librechat.ai.git
	branch = main
[submodule "dev/firecrawl"]
	path = dev/firecrawl
	url = git@github.com:firecrawl/firecrawl.git
[submodule "dev/searxng"]
	path = dev/searxng
	url = git@github.com:searxng/searxng.git
[submodule "dev/n8n"]
	path = dev/n8n
	url = git@github.com:n8n-io/n8n.git
