services:
  vectordb:
    container_name: vectordb
    image: pgvector/pgvector:0.8.0-pg15-trixie
    environment:
      POSTGRES_DB: ${LIBRECHAT_VECTORDB_DB:-vectordb}
      POSTGRES_USER: ${LIBRECHAT_VECTORDB_USER:-vectordb}
      POSTGRES_PASSWORD: ${LIBRECHAT_VECTORDB_PASSWORD:-mypassword}
    restart: always
    volumes:
      - pgdata2:/var/lib/postgresql/data
    networks:
      - app-net

  rag_api:
    container_name: rag_api
    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
    environment:
      DB_HOST: vectordb
      POSTGRES_DB: ${LIBRECHAT_VECTORDB_DB:-vectordb}
      POSTGRES_USER: ${LIBRECHAT_VECTORDB_USER:-vectordb}
      POSTGRES_PASSWORD: ${LIBRECHAT_VECTORDB_PASSWORD:-mypassword}
      RAG_PORT: ${LIBRECHAT_RAG_PORT:-8000}
      RAG_OPENAI_API_KEY: ${RAG_OPENAI_API_KEY:-${OPENROUTER_KEY:-}}
      RAG_OPENAI_BASEURL: ${RAG_OPENAI_BASEURL:-${OPENROUTER_BASE_URL:-}}
      OPENAI_API_KEY: ${OPENAI_API_KEY:-${OPENROUTER_KEY:-}}
      EMBEDDINGS_PROVIDER: ${EMBEDDINGS_PROVIDER:-openai}
      EMBEDDINGS_MODEL: ${EMBEDDINGS_MODEL:-text-embedding-3-small}
      OPENAI_API_BASE: ${OPENROUTER_BASE_URL:-https://openrouter.ai/api/v1}
    restart: always
    depends_on:
      - vectordb
    networks:
      - app-net

volumes:
  pgdata2:

